<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order page</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../../static/script/orderPage.js" defer></script>
    <script src="../../static/script/navbar.js" defer></script>

    <link rel="stylesheet" href="../../static/css/orderPage.css">
</head>

<body>
    <%- include('../templates/navbar.ejs')%>
        <main class="mt-20">
            <div id="hoverBtn" class="w-[11.5rem] h-[2.6rem]"></div>
            <div class="mt-10 mx-20">
                <div class="text-3xl font-semibold">
                    <p>Your Orders</p>
                </div>

                <div>
                    <div class="flex justify-between my-7">
                        <div id="filterBar"
                            class="bg-gray-200 w-[38rem] h-[3.6rem] py-2 flex justify-evenly rounded-lg border-gray-300 border-2">
                            <button class="font-medium text-xl rounded-lg w-[30%] h-[2.5rem]">Orders</button>
                            <button class="font-medium text-xl rounded-lg w-[30%] h-[2.5rem]">Not
                                Yet Shipped</button>
                            <button class="font-medium text-xl rounded-lg w-[30%] h-[2.5rem]">Cancelled
                                Orders</button>
                        </div>

                        <div>
                            <select name="select" id="select"
                                class="bg-gray-200 h-[3.6rem] font-medium text-xl text-gray-700 rounded-xl px-4 border-gray-300 border-2 hover:bg-gray-400 focus:bg-gray-200 text-center">
                                <option value="Past 3 months">Past 3 months</option>
                                <option value="Past 6 months">Past 6 months</option>
                                <option value="Past 1 year">Past 1 year</option>
                            </select>
                        </div>
                    </div>

                    <div>
                        <div class="bg-gray-200 rounded-t-lg h-[5.7rem] border-gray-300 border-2">
                            <div class="flex justify-between px-7">
                                <div class="flex w-1/5 justify-between  mt-4">
                                    <div class="font-medium text-xl text-gray-600">
                                        <p>Order placed</p>
                                    </div>
                                    <div class="font-medium text-xl text-gray-600">
                                        <p>Total</p>
                                    </div>
                                </div>
                                <div class="font-bold text-xl text-gray-700  mt-4">
                                    <p>Order #112-0822160-5390023</p>
                                </div>
                            </div>

                            <div class="flex justify-between px-7">
                                <div class="flex w-1/5 justify-between">
                                    <div class="font-bold text-xl text-gray-700 ">
                                        <p>June 2, 2023</p>
                                    </div>
                                    <div class="font-bold text-xl w-14 text-center text-gray-700 ">
                                        <p>$157.99</p>
                                    </div>
                                </div>
                                <div class="flex w-[20rem] justify-between">
                                    <div class="text-blue-500 text-xl hover:text-blue-800"><a href="#">View order
                                            details</a></div>
                                    <div class="text-blue-500 text-xl hover:text-blue-800"><a href="#">View invoice</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="border-2 border-gray-300 p-10 pt-6 border-t-0">
                            <div class="text-2xl font-semibold mb-5">
                                <p>Delivered June 5</p>
                            </div>
                            <div class="flex">
                                <div
                                    class="border-gray-200 border-2 rounded-xl h-[12rem] w-[12rem] flex justify-center items-center drop-shadow overflow-hidden">
                                    <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/mba15-spacegray-config-202306?wid=420&hei=254&fmt=jpeg&qlt=95&.v=1684340991372"
                                        alt="MacBook Air">
                                </div>
                                <div class=" flex flex-col justify-between mx-16">
                                    <div>
                                        <div class="font-semibold text-3xl mt-3 mb-2">
                                            <p>Apple MacBook Air with M2 chip - Space Grey</p>
                                        </div>
                                        <div class="font-medium text-lg text-gray-500">
                                            <p>Return or replace items: Eligible through July 5, 2023</p>
                                        </div>
                                    </div>
                                    <div class="flex justify-between w-[31rem] h-[3rem] mb-4">
                                        <div
                                            class="rounded-lg px-3 py-2 border-gray-200 border-2 text-lg font-semibold hover:bg-gray-300">
                                            <button>Buy it again</button>
                                        </div>
                                        <div
                                            class="rounded-lg px-3 py-2 border-gray-200 border-2 text-lg font-semibold hover:bg-gray-300 ">
                                            <button>View your item</button>
                                        </div>
                                        <div
                                            class="rounded-lg px-3 py-2 border-gray-200 border-2 text-lg font-semibold hover:bg-gray-300 ">
                                            <button>Track package</button>
                                        </div>
                                        <div
                                            class="rounded-lg px-3 py-2 border-gray-200 border-2 font-extrabold hover:bg-gray-300 ">
                                            <button>. . .</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="border-2 border-gray-300 p-10 pt-6 border-t-0">
                            <div class="text-2xl font-semibold mb-5">
                                <p>Delivered June 5</p>
                            </div>
                            <div class="flex">
                                <div
                                    class="border-gray-200 border-2 rounded-xl h-[12rem] w-[12rem] flex justify-center items-center drop-shadow overflow-hidden">
                                    <img src="https://m.media-amazon.com/images/I/81hAx31maUL._SL1500_.jpg" alt="iPad">
                                </div>
                                <div class=" flex flex-col justify-between mx-16">
                                    <div>
                                        <div class="font-semibold text-3xl mt-3 mb-2">
                                            <p>Apple 2022 12.9-inch iPad Pro - Space Grey</p>
                                        </div>
                                        <div class="font-medium text-lg text-gray-500">
                                            <p>Return or replace items: Eligible through July 5, 2023</p>
                                        </div>
                                    </div>
                                    <div class="flex justify-between w-[31rem] h-[3rem] mb-4">
                                        <div
                                            class="rounded-lg px-3 py-2 border-gray-200 border-2 text-lg font-semibold hover:bg-gray-300 ">
                                            <button>Buy it again</button>
                                        </div>
                                        <div
                                            class="rounded-lg px-3 py-2 border-gray-200 border-2 text-lg font-semibold hover:bg-gray-300 ">
                                            <button>View your item</button>
                                        </div>
                                        <div
                                            class="rounded-lg px-3 py-2 border-gray-200 border-2 text-lg font-semibold hover:bg-gray-300 ">
                                            <button>Track package</button>
                                        </div>
                                        <div
                                            class="rounded-lg px-3 py-2 border-gray-200 border-2 font-extrabold hover:bg-gray-300 ">
                                            <button>. . .</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="border-2 border-gray-300 p-10 pt-6 border-t-0">
                            <div class="text-2xl font-semibold mb-5">
                                <p>Delivered June 5</p>
                            </div>
                            <div class="flex">
                                <div
                                    class="border-gray-200 border-2 rounded-xl h-[12rem] w-[12rem] flex justify-center items-center drop-shadow overflow-hidden">
                                    <img src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/v1662655485/Croma%20Assets/Communication/Mobiles/Images/261971_c8p8eb.png/mxw_2048,f_auto"
                                        alt="iPhone">
                                </div>
                                <div class=" flex flex-col justify-between mx-16">
                                    <div>
                                        <div class="font-semibold text-3xl mt-3 mb-2">
                                            <p>iPhone 14 Pro Max - Deep purple</p>
                                        </div>
                                        <div class="font-medium text-lg text-gray-500">
                                            <p>Return or replace items: Eligible through July 5, 2023</p>
                                        </div>
                                    </div>
                                    <div class="flex justify-between w-[31rem] h-[3rem] mb-4">
                                        <div
                                            class="rounded-lg px-3 py-2 border-gray-200 border-2 text-lg font-semibold hover:bg-gray-300 ">
                                            <button>Buy it again</button>
                                        </div>
                                        <div
                                            class="rounded-lg px-3 py-2 border-gray-200 border-2 text-lg font-semibold hover:bg-gray-300 ">
                                            <button>View your item</button>
                                        </div>
                                        <div
                                            class="rounded-lg px-3 py-2 border-gray-200 border-2 text-lg font-semibold hover:bg-gray-300 ">
                                            <button>Track package</button>
                                        </div>
                                        <div
                                            class="rounded-lg px-3 py-2 border-gray-200 border-2 font-extrabold hover:bg-gray-300 ">
                                            <button>. . .</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </main>

        <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>

</body>

</html>